<p-toast></p-toast>
<div class="container-fluid" >
  <div class="row mb-2 mt-2" > <div class="col-12"><button *ngIf="admin" style="float: right; margin: auto" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Nuevo articulo
    </button></div></div> 
  <div class="row">
  <div class="col-lg-3 d-none d-lg-block d-md-none">
          <div class="col-12">
            <div class="card">
              <div class="list-group list-group-flush"> 
                <a href="#" class="list-group-item"  (click)="getArticulos()"><strong>Todos los articulos</strong></a>
                <a href="#" *ngFor="let item of tiposlist" class="list-group-item"  (click)="getarticulosCategoria(item.codigo_t)"><strong>{{item.nombre}}</strong></a>
                
              </div>
            </div>
          </div>
          <div class="card w-100 mt-2 ml-2" *ngIf="creartipo">
            <div class="card-body">
                <label for=""> Categoria: </label> 
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">  </span>
                   </div>
                      <input  id="tipoa" class="form-control" placeholder="EJ:Plantas" type="text" > 
                  </div>
              <button class="ml-5" (click)="postTipo()" class="btn btn-primary">Añadir</button>
            </div>
          </div>
      <button class="btn btn-primary ml-3" *ngIf="admin" (click)="creartipo=!creartipo">Añadir tipo/categoria</button>
      
</div>

  <div class="col-lg-3 d-block d-lg-none">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categoria
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" class="list-group-item"  (click)="getArticulos()"><strong>Todos los articulos</strong></a>
        <a class="dropdown-item" *ngFor="let item of tiposlist" class="list-group-item"  (click)="getarticulosCategoria(item.codigo_t)"><strong>{{item.nombre}}</strong></a>
      </div>
    </div>
    <div class="card w-50" *ngIf="creartipo">
      <div class="card-body">
          <label for=""> Categoria: </label> 
          <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">  </span>
             </div>
                <input  id="tipoa" class="form-control" placeholder="EJ:Plantas" type="text" > 
            </div>
        <button class="ml-5" (click)="postTipo()" class="btn btn-primary">Añadir</button>
      </div>
    </div>
<button class="btn btn-info justify-content-center" *ngIf="admin" (click)="creartipo=!creartipo">Añadir tipo/categoria</button>

</div>
  <div class="col-lg-9 col-md-12"><div class="row">
      <div class="mt-1 mr-1 w-25" *ngFor="let item of items | paginate:{itemsPerPage:9 , currentPage: paginaActual};  let i = index" >
      
          <div  class="card" style="margin:auto; margin-bottom:1%;">
              <img  class="card-img-top w-100" [src]="_sanitizer.bypassSecurityTrustResourceUrl(item.imagen)" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{item.nombre}}</h5>
                <p class="card-text">{{item.descripcion}}</p>
                <p><strong class="card-text">Precio:{{item.precio_art}}</strong></p>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Ver mas</button><button (click)="addToCar(item)"  class="btn btn-success ml-1">Añadir al carrito</button>
                <button class="btn btn-danger ml-1" *ngIf="admin" (click)="deleteArticulos(item,i)">Eliminar articulo</button>
              </div>
            </div>
      </div>
  </div>
    
  </div>
 
    <div class="col-7" >
        
    
    </div>
    <div class="col-4" ><pagination-controls  (pageChange)="paginaActual = $event"></pagination-controls></div>
    <div class="col-1"></div>
    
  </div></div>



<!--Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Añadir articulo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #formArticulo="ngForm">
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    Rellene los campos marcados con * , son los campos obligatorios
                  </div>
              <div class="form-group">
                <label for="nombreArticulo">Nombre articulo *</label>
                <input type="text" class="form-control" id="nombreArticulo" aria-describedby="artivulo" placeholder="Ej:Petunias" required>
                <small class="form-text text-muted">Este es el nombre que veran los clientes cuando accedan a este articulo</small>
              </div>
              <div class="form-group">
                <label for="descripcionArticulo">Descripción</label>
                <input type="text" class="form-control" id="descripcionArticulo" placeholder="Ej: Las petunias son debiles...">
              </div>
              <div class="form-group">
                <label for="precioArticulo">Precio *</label>
                <input type="number" class="form-control" id="precioArticulo" placeholder="Ej: Las petunias son debiles..." required>
              </div>
              <div class="form-group">
                <label for="tipoArticulo">Tipo</label>
                <select id="tipoArticulo" class="custom-select" required>
                  <option value="{{item.codigo_t}}" *ngFor="let item of tiposlist">
                    {{item.nombre}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="cantidadArticulo" >Cantidad </label>
                <input type="number" class="form-control" id="cantidadArticulo" placeholder="Ej: Las petunias son debiles..." required>
              </div>
              <div class="form-group">
                <label for="fechaArticulo">Fecha de caducidad</label>
                <input type="text" class="form-control" id="fechaArticulo" placeholder="Ej: Las petunias son debiles..." required>
              </div>
              <div class="form-group">
                  <label for="">Selecciona la imagen del articulo *</label>
                  <div class="custom-file">
                  
                  <input (change)="handleFileSelect($event)" type="file" class="custom-file-input" id="imagenArticulo" aria-describedby="imagenArticulo">
                  <label class="custom-file-label" for="imagenArticulo">Choose file</label>
                  </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="guardarArticulo(formArticulo)">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    
    