<div class="container">

    <div class="card">
        <div class="card-body">
            <h1>Modificacion pedido</h1>
            <p>Codigo pedido:</p>
            <p>Fecha:</p>
            <p>Cliente:</p>
            <div class="card">
                <div class="card-body">
                  <h2>Articulos</h2>
                  <div class="row">
                    <label for="" class="mr-2 ml-2"> Item 1</label>
                  <input style="max-width: 15%" class="form-control" type="text">
                  <input style="max-width: 15%;" class="form-control ml-2" type="text">
                  <input style="max-width: 15%" class="form-control ml-2" type="text">
                  <input style="max-width: 15%" class="form-control ml-2" type="text">
                  </div>

                </div>
              </div>
              <p style="float: right">Total : 100€</p>
              <button class="mt-5" style="float: right">Guardar</button>
              <button class="mt-5" style="float: right">Cancelar</button>
        </div>
      </div>
  <div>
    
  
  </div>
</div>
