<div  class="container" style="background: white" >
  <div class="container" id="content" #content>
    <header class="clearfix" >
        <h1>Codigo de pedido: {{Pedido.codpedido}}</h1>
        <div id="company" class="clearfix">
          <div>Nombre de la compañia</div>
          <div>Somiplantas,<br /></div>
          <div>direccion***</div>
          <div><a href="mailto:company@example.com">insertar correo**</a></div>
        </div>
        <div id="project">
          <div><span>Tienda</span> Somiplantas </div>
          <div><span>Cliente</span>Cliente: {{Pedido.cliente.nombre}} {{Pedido.cliente.apellido}} </div>
          <div><span>Direccion</span>direccion inventada implementar**</div>
          <div><span>EMAIL</span> <a href="mailto:john@example.com">{{Pedido.cliente.correo}}</a></div>
          <div><span>Fecha</span>{{Pedido.fecha}}</div>
        </div>
      </header>
      <main>
        <table>
          <thead>
            <tr>
              <th>Articulo</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaEspecificaciones">
              <td class="service">{{item.id.art.nombre}}</td>
              <td class="service">{{item.id.art.descripcion}}</td>
              <td class="service">{{item.id.art.precio_art}}€</td>
              <td class="service">{{item.cantidad}}</td>
              <td class="service">{{item.precio}}</td>
            </tr>
          </tbody>
        </table>
        <div id="notices">
          <div>NOTICE:</div>
          <div class="notice">Para cualquier problema contactar con el telefono 691664534</div>
        </div>
      </main>
      
     
</div>

<div style="margin-top: 15%">
  <a style="margin-top: 20%"  (click)="downloadPDF()"><i class="pi pi-download"></i></a>
  <a class="btn btn-danger" [routerLink]="['/pedidos']" routerLinkActive="router-link-active" >Volver</a>
</div>


</div>
