<div  class="container" style="background: white" >
  <div class="container" id="content" #content>
    <header class="clearfix" >
        <div id="logo">
          <img  src="tuli.jpg">
        </div>
        <h1>Codigo de pedido: {{Pedido.codpedido}}</h1>
        <div id="company" class="clearfix">
          <div>Nombre de la compañia</div>
          <div>Somiplantas,<br /></div>
          <div>direccion***</div>
          <div><a href="mailto:company@example.com">insertar correo**</a></div>
        </div>
        <div id="project">
          <div><span>Tienda</span> Somiplantas </div>
          <div><span>Cliente</span>{{Pedido.cliente.usuario}} </div>
          <div><span>Direccion</span>direccion inventada implementar**</div>
          <div><span>EMAIL</span> <a href="mailto:john@example.com">{{Pedido.cliente.correo}}</a></div>
          <div><span>Fecha</span>{{Pedido.fecha}}</div>
        </div>
      </header>
      <main>
        <table>
          <thead>
            <tr>
              <th class="service">Articulo</th>
              <th class="desc">Descripcion</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaEspecificaciones">
              <td class="service">{{item.id.art.nombre}}</td>
              <td class="desc">{{item.id.art.descripcion}}</td>
              <td class="unit">{{item.id.art.precio_art}}</td>
              <td class="qty">{{item.cantidad}}</td>
              <td class="total">{{item.precio}}</td>
            </tr>
          </tbody>
        </table>
        <div id="notices">
          <div>NOTICE:</div>
          <div class="notice">Para cualquier problema contactar con el telefono 691664534</div>
        </div>
      </main>
      
     
</div>
<button class="btn btn-info" style="margin-top: 20%"  (click)="downloadPDF()">Descargar documento</button>
<button class="btn btn-danger" style="margin-top: 20%" [routerLink]="['/pedidos']" routerLinkActive="router-link-active" >Volver</button>

</div>
