<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1C1C1C;">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.pixabay.com/photo/2016/04/20/21/17/png-1342113_960_720.png" style="max-width: 35px" class="d-inline-block align-top" alt="">
    Somiplantas
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <!-- <li class="nav-item" routerLink="/inicio" routerLinkActive="active">
        <a class="nav-link" style="color: white">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLink="/promociones" routerLinkActive="active">
        <a style="color: white" class="nav-link">Promociones</a>
      </li> -->
      <li class="nav-item" routerLink="/catalogo" routerLinkActive="active">
        <a style="color: white " class="nav-link" >Articulos</a>
      </li>
    </ul>
    <div><a class="nav-link" routerLink="/carrito" style="color: white" routerLinkActive="active"><i class="pi pi-shopping-cart" style="font-size: 2em"></i></a></div>
    <div><a class="nav-link" routerLink="/pedidos" style="color: white" routerLinkActive="active"><i class="pi pi-user" style="font-size: 2em"></i></a></div>
    <div><a class="nav-link"  routerLink="/login" style="color: white" (click)="CerrarSesion()"><i class="pi pi-sign-out" style="font-size: 2em"></i></a></div>  
  </div>
</nav>
      <!-- /#sidebar-wrapper -->