
<div class="container">
 <h1 class="text-center">Somiplantas</h1>
  <hr>
  
  <div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Crea tu cuenta</h4>
    <form [formGroup]="formRegistro" (change)="VerEstado()" (ngSubmit)="guardarUsuario()" >
        <label for=""> Usuario: </label> 
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">  </span>
       </div>
          <input  id="usuario" formControlName="usuario" class="form-control" placeholder="Usuario" type="text" >
          
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="formRegistro.controls.usuario.pristine == false && formRegistro.controls.usuario.invalid">
        Campo obligatorio
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="usuarioUnico == false">
        Este usuario ya existe !!!
      </div>
      <div class="alert alert-success" role="alert" *ngIf="usuarioUnico == true">
        Nombre disponible :D
      </div>
      
      <label for=""> Nombre: </label> 
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text">  </span>
       </div>
          <input  id="nombre" formControlName="nombre" class="form-control" placeholder="Nombre" type="text" >
          
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="formRegistro.controls.nombre.pristine == false && formRegistro.controls.nombre.invalid">
        Campo obligatorio
      </div>

      <label for=""> Apellidos:</label> 
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input id="apellidos"  formControlName="apellidos" class="form-control" placeholder="Apellidos" type="text">
        </div> <!-- form-group// -->
        <div class="alert alert-danger" role="alert" *ngIf="formRegistro.controls.apellidos.pristine == false && formRegistro.controls.apellidos.invalid">
          Campo obligatorio
        </div>
        <label for=""> Telefono:</label> 
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input id="telefono"  formControlName="telefono" class="form-control" placeholder="Telefono" type="text">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="formRegistro.controls.telefono.pristine == false && formRegistro.controls.telefono.invalid">
          Campo obligatorio
        </div>
        <label for=""> Correo electronico:</label> 
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input id="email"  formControlName="correo" class="form-control" placeholder="Correo electrónico" type="email">
      </div> <!-- form-group// -->
      <div class="alert alert-danger" role="alert" *ngIf="formRegistro.controls.correo.pristine == false && formRegistro.controls.correo.invalid">
        Campo obligatorio , porfavor complete el campo con el formato correcto ej:imventadillo@gmail.com
      </div>
    <label for=""> Crear contraseña:</label> 
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input id="password"  formControlName="contrasena" class="form-control" placeholder="Ejemplo: Fcv24-34" type="password">
      </div> <!-- form-group// -->
      <label for=""> Repita la contraseña:</label> 
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input id="password2"  formControlName="contrasena2" class="form-control" placeholder="" type="password" >
      </div> <!-- form-group// -->  
      <label for=""> Direccion:</label> 
      <div class="form-group input-group">
        
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input id="direccion" formControlName="direccion" class="form-control" placeholder="" type="text">
        </div> <!-- form-group// -->                                   
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!formRegistro.valid && this.equalPassword==true && usuarioUnico == true"> Crear cuenta  </button>
      </div> <!-- form-group// -->      
      <p class="text-center">¿Tienes ya una cuenta? <a href="">Log In</a> </p>                                                                 
  </form>
  </article>
  </div> <!-- card.// -->
  
  </div> 
  <!--container end.//-->
