<div class="container-fluid" style="height: 100%;">
  <div class="row">
        <table class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Total</th>
                    <th scope="col">Funciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listapedido | paginate:{itemsPerPage:5 , currentPage: paginaActual};  let i = index" >
                    <th scope="row">{{i + 1}}</th>
                    <td>{{item.cliente.id}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.total}}</td>
                    <td><button class="btn btn-info" [routerLink]="['/pedido',item.codpedido]">Ver mas</button> <button class="btn btn-danger">Cancelar</button></td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls  (pageChange)="paginaActual = $event"></pagination-controls>
  </div>
  <button class="btn btn-danger">volver</button>
